#header {
	background-color: $oil;
	padding: 15px 0;
}

#site-name {
	margin-top: 23px;
	margin-left: -45px;
	a {
		color: $gainsboro;
	}
}

#navigation {
	background-color: $charcoal;
}

#main {
	padding-top: 20px;
}

ul#primary {
	&.inline-list {
		margin: 0;
		li {
			margin: 0;
		}
		a {
			color: $vapor;
			text-transform: uppercase;
			padding: 15px 25px;
		}
	}
}

ul.menu {
	margin-left: 0;
	li.leaf {
		list-style: none;
		list-style-image: none;
		list-style-type: none;
		margin-left: 0;
	}
}

table {
	width: 100%;
}

.form-submit {
	margin-top: 20px;
}

.view-header {
	p {
		margin-bottom: 0px;
	}
}

.dashboard {
	.block {
		background: $white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14),0 0 .5px 0 rgba(0,0,0,0.24);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 25px;
		h2 {
			font-size: $h2-dashboard-size;
			margin-bottom: 10px;
			font-weight: $font-weight-bold;
		}
		.content {
	    ul {
	    	li {
	    		list-style: none;
	    		margin-left: 0;
	    	}
	    }
		}
	}
	.views-field-edit-node {
		font-size: rem-calc(12);
		text-transform: uppercase;
		font-weight: 500;
	}
	.view-user-profile {
		.profile-pic {
			display: inline-block;
			vertical-align: top;
			margin-right: 20px;
			img {
				vertical-align: inherit;
				border: 1px solid $gainsboro;
				padding: 1px;
			}
		}
		.user-profile-info {
			display: inline-block;
			vertical-align: top;
		}
		.follow-up {
			margin-top: 5px;
			a {
				padding: 5px;
				font-size: rem-calc(12);
				color: $white;
				border: 1px solid $gainsboro;
				&.flag-action {
					background-color: $primary-color;
				}
				&.unflag-action {
					background-color: $alert-color;
				}
			}
		}
	}
	.add-doc-block {
		margin: 50px 0 15px;
		border-top: 7px solid $gainsboro;
		.add-doc-text {
			display: inline-block;
			vertical-align: top;
			width: 60%;
			margin-right: 2em;
			font-size: rem-calc(14);
		}
		.add-doc-button {
			display: inline-block;
			width: 30%;
			.button {
				margin: 0;
			}
		}
	}
	.total-hours {
		font-weight: 500;
		ul {
			margin: 0;
		}
	}
	.view-id-candidate_cards {
		ul {
			line-height: 1.3em;
			li {
				border-bottom: 1px solid $gainsboro;
				margin-bottom: 20px;
				padding-bottom: 10px;
				.candidate-img {
					display: inline-block;
					width: 100px;
					margin-right: 20px;
					img {
						vertical-align: inherit;
						border: 1px solid $gainsboro;
						padding: 1px;
					}
				}
				.candidate-card-links {
					display: inline-block;
					vertical-align: top;
					.candidate-name {
						font-size: rem-calc(18);
					}
				}
				&.views-row-last {
					border-bottom: none;
					padding-bottom: 0;
				}
			}	
		}
		.candidates-list {
			.candidate-list-title {
				font-weight: 400;
				margin: .5em 0 0;
			}
		}
	}

	.view-id-candidate_cards {
		&.view-display-id-block_3 {
			font-size: rem-calc(12);
		}
	}


	.view-coaching-log-list {
		.view-header {
			p {
				margin-bottom: 0px;
			}
		}
		th.views-field.views-field-field-coach-log-hours-met, th.views-field.views-field-edit-node {
			width: 25%;
		}
	}
	table {
		width: 100%;
		margin-bottom: .5rem;
		tr {
			background-color: $white;
		}
		.views-field-field-coach-log-meeting-date {
			width: 75%;
		}
	}
	.view-ilp-reflections-status {
		li {
			border-bottom: 1px solid $gainsboro;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
	}
	.view-footer {
		p {
			margin: 0;
			a {
				margin: 10px 0 0 0;
			}
		}
	}
}


// ILP node form //
#individual-leadership-plan-node-form {
	.form-type-checkbox {
		display: inline;
		input {
			margin: 0;
		}
	}
	.field-name-field-ilp-dops {
		display: none;
	}
}


.field-name-field-action-plan, #field-collection-item-form {
	.form-type-date-combo {
		.description {
			display: none;
		}
	}
}


/** Tabledrag Label Remove **/
.tabledrag-toggle-weight-wrapper {
	display: none;
}

#field-action-plan-values {
	.tabledrag-handle {
		display: none;
	}
}

/** Events Pages **/
.page-events {
  .views-field-field-event-date {
  	margin: 12px 0;
    .field-content {
      font-weight: 700;
    }
  }
  .view-events {
    .views-row {
      border-bottom: 1px solid $gainsboro;
      padding: 20px 0;
	    &.views-row-first {
	      border-top: none;
	      padding-top: 0;
	    }
	    &.views-row-last {
	      border-bottom: none;
	    }
	    .views-field-field-registration {
	    	a {
	    		padding: rem-calc(14);
		    	margin-bottom: 1.25rem;
		    	font-size: rem-calc(13);
		    	background-color: $primary-color;
		    	color: $white;
		    	display: inline-block;
	    	}
	    	.registered {
	    		padding: rem-calc(14);
		    	margin-bottom: 1.25rem;
		    	font-size: rem-calc(13);
		    	background-color: $gainsboro;
		    	color: $oil;
		    	display: inline-block;
	    	}
	    }
  	}
	}
}

/** Event Node **/
.node-type-event {
	.content {
		.field-name-field-event-date {
			margin-bottom: 10px;
		}
		.field-name-field-event-location {
			margin-bottom: 10px;
		}
		.field-name-body {
			margin-bottom: 10px;
		}
	}
}

#block-views-user-registrations-block {
	.view-content {
		.views-row {
			border-bottom: 1px solid $gainsboro;
			margin-bottom: 10px;
			padding-bottom: 7px;
			&.views-row-last {
				border: none;
				margin-bottom: 0;
			}
			.views-field-title {
			}
			.views-field-field-event-date {
				font-size: rem-calc(14);
			}
			.views-field-delete-registration {
				font-size: rem-calc(12);
				font-weight: 500;
				text-transform: uppercase;
				padding: 2px 0;
			}
		}
	}
}


/** Individual Leadership Plan List **/
.view-ilp-list .views-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .85em;
}

.view-ilp-list .view-content {
  padding: 0;
  .action-plan {
    margin-bottom: 30px;
  }
  .ilp-item {
    margin: 0;
    padding: 10px;
    border: 1px solid #b6b6b6;
    background: $white;
    div {
      padding: 3px 0;
    }
    .label {
      font-weight: 700;
      font-size: inherit;
      text-transform: uppercase;
      background-color: inherit;
      color: inherit;
      padding: 0;
      margin-right: 5px;
    }
    
  }
  
  .action-plans-label {
    border: 1px solid #b6b6b6;
    background: #b6b6b6;
    color: $white;
    padding: 3px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.view-ilp-action-plans {
    ul {
      margin: 0;
      padding: 0;
      li.attained-status {
        list-style: none;
        float: left;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #b6b6b6;
        border-left: 1px solid #b6b6b6;
        font-size: .7em;
        text-transform: uppercase;
        margin: 0;
        .attained {
          text-indent: -9999px;
          background-image: url(../images/checkbox-checked-noborder.png);
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          /** background: #94d78e;
          padding: 3px 5px; **/
        }
        .in_progress {
          text-indent: -9999px;
          background-image: url(../images/checkbox-partial-noborder.png);
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          /** background: #d86764;
          padding: 3px 5px; **/
        }
      }
      li.attained-status.views-row-last {
        border-right: 1px solid #b6b6b6;
      }
    }
}

/** Individual Leadership Plan **/
.node-individual-leadership-plan {
    .field {
      margin-bottom: 10px;
    }
    .field-collection-container {
    .field-name-field-action-plan {
      .field-label {
        margin: 10px 0 5px;
      }
      .field-collection-view {
        padding: 5px;
        margin: 0 0 20px;
        background: $white;
        border: 1px solid #b6b6b6;
        .field-label {
          font-size: .85em;
        }
        .content {
          padding: 5px;
        }
        .field-collection-item-field-action-plan {
          .col1 {
            float: left;
            width: 65%;
            border-right: 1px solid #D3D7D9;
          }
          .col2 {
            float: left;
            width: 30%;
            .col2-wrap {
              margin: 10px;
              padding: 0 10px;
            }
          }
          .field-label {
            margin: 0;
            width: auto;
          }
          .field-name-field-action-plan-item-date {
            color: #b4b4b4;
            font-size: .85em;
            font-style: italic;
          }
          .field-name-field-attained {
            margin: 20px 0 0;
            font-size: 1.5em;
            font-weight: 700;
          }
          
        }
      }

    }
  }
}


/** DOPS Reflections & Standard Reflections Views **/


/* ul.hidden is for the score information at the top of
the reflection page 
*/
ul.hidden {
    display: none;
    background: #666666;
    color: #ffffff;
    opacity: 0.95;
    padding: 10px;
    box-shadow: 2px 2px 7px #666666;
    z-index: 99;
    li {
      list-style: none;
      display: inline;
      padding: 0 12px 0 0;
      font-size: .75em;
  } 
}

.view-dops-reflections {
	.view-header {
		.views-field-nothing {
			margin-bottom: 5px;
			font-weight: 700;
			a {
				text-transform: uppercase;
				font-size: rem-calc(12);
				font-weight: normal;
			}
		}
		.reflection-update-date {
		text-transform: italic;
		font-size: rem-calc(12);
		font-weight: normal;
		}
	}
	.toggler {
  	cursor: pointer;
	}
}

.view-dops-reflections table{
  tbody tr {
    th {
      width: 25%;
      vertical-align: top; 
      padding: 10px;
      border-bottom: inherit;
      font-size: rem-calc(12);
      .question {
        font-weight: normal;
        font-style: italic;          
      }
    }
    td {
      width: 25%;
      vertical-align: top;
      padding: 10px;
      font-size: rem-calc(12);
      .question {
      	display: none;
      }
    }
  }
}

.view-dops-reflections {
  .field-name-field-dops-evidence {
    display: none;
  }
  .field-name-field-dops-question {
  }
}



.view-reflections {
	.view-header {
		.views-field-nothing {
			margin-bottom: 5px;
			font-weight: 700;
			a {
				text-transform: uppercase;
				font-size: rem-calc(12);
				font-weight: normal;
			}
		}
		.reflection-update-date {
		text-transform: italic;
		font-size: rem-calc(12);
		font-weight: normal;
		}
	}
	.field-name-field-evidence {
		display: none;
	}
}

.view-reflections table{
  font-size: .8em;
    tbody tr {
      th {
        width: 25%;
        vertical-align: top; 
        padding: 10px;
        border-bottom: inherit;
        font-size: rem-calc(12);
        .question {
          font-weight: normal;
          font-style: italic;          
        }
      }
      td {
        width: 25%;
        vertical-align: top;
        padding: 10px;
        font-size: rem-calc(12);
        .question {
        	display: none;
        }
      }
    }
  } 

/** Document Node Add/Edit **/

.node-document-form {
	div.form-wrapper {
		border-bottom: 1px solid $gainsboro;
		padding: 10px 0;
		label {
			font-weight: 700;
			margin-bottom: 5px;
		}
		.form-select {
			width: 20em;
		}
		.date-clear {
			width: 20em;
		}
	}
}

/** Document View Node **/
.node-document {
	.content {
		.field {
			padding: 12px 0;
			border-bottom: 1px solid $gainsboro;
		}
	}
}

 tr.odd .form-item {
 	white-space:normal;
} 
	
tr.even .form-item {
	white-space:normal;
}